<div class="pull-right">
  <%= link_to("New Post", new_account_post_path, class: "btn btn-default") %>
</div>

</br></br>

<table class="table table-hover">
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to(post.title, edit_account_post_path(post)) %></td>
      <td><%= post.created_at %></td>
      <td class="dropdown">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Options
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </td>
    </tr>
  <% end %>
</table>
