<h3>Your Categories</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @blog.categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Edit', edit_account_blog_category_path(@blog,category) %></td>
        <td><%= link_to 'Destroy', account_blog_category_path(@blog,category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<b>Add Category:</b>
<%= render "new" %>
